<br />
<br />
<!--hard-->
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h2>Hard Skills</h2>
  </div>
</div>
<!--barras hard-->
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              HTML
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              CSS
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              BOOTSTRAP
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              JAVASCRIPT
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              ANGULAR
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<!--soft-->
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h2>Soft Skills</h2>
  </div>
</div>

<!--barras soft-->

<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              FLEXIBILIDAD ADAPTACION AL CAMBIO
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 75%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              RESPONSABILIDAD
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              ACTITUD POSITIVA
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              JAVASCRIPT
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              RESILIENCIA
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              EMPATIA
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
          <div class="progress">
            <div
              class="progress-bar bg-sinfo"
              role="progressbar"
              style="width: 50%"
              aria-valuenow="50"
              aria-valuemin="0"
              aria-valuemax="60"
            >
              TRABAJO EN EQUIPO
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>
