#logoArgPro {
  max-width: 100px;
  height: 60px;
}
.collapse .navbar-collapse {
  justify-content: flex-end;
}

#logoArgPro {
  margin-right: 25rem;
}
.loginBtn {
  margin: 0.5rem 2rem;
  padding: 0.5rem 1rem;
}
