<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h1>HARD Skills</h1>
  </div>
</div>

<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 75%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        HTML
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 75%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        CSS
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        bootstrap
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        JAVASCRIPT
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        ANGULAR
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <h1>SOFT Skills</h1>
  </div>
</div>

<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 75%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        FLEXIBILIDAD ADAPTACION AL CAMBIO
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 75%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        RESPONSABILIDAD
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        ACTITUD POSITIVA
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        JAVASCRIPT
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        RESILIENCIA
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        EMPATIA
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="shadow-lg p-3 mb-5 bg-body rounded">
    <div class="progress">
      <div
        class="progress-bar bg-info"
        role="progressbar"
        style="width: 50%"
        aria-valuenow="50"
        aria-valuemin="0"
        aria-valuemax="60"
        class="h-25 d-inline-block"
      >
        TRABAJO EN EQUIPO
      </div>
    </div>
  </div>
</div>
