body {
  margin: 0;
  padding: 0;
  background-color: #f2f5f6;
}
.container {
  background-color: #f1f5f6;
  border-radius: 5px;
}

.container-banner {
  width: 100%;
  color: #a0aeb1;
  /* background-color: rgb(7, 65, 124);
  background-image: url("C:/Users/margu/OneDrive/Escritorio/portfolio desafio modulo 3/portfolio3/src/assets/images/banner-g8b8f7944b_1920.jpg");*/
  background-image: url("C:/Users/margu/OneDrive/Escritorio/portfolio desafio modulo 3/portfolio3/src/assets/images/banner-g8b8f7944b_1920.jpg");
}
#mi-foto {
  max-width: 120px;
}
.container-banner h1 {
  margin: 1.1em 0;
}
.container-banner h3 {
  margin-bottom: 1.2em;
}
.container-datos {
  background-color: #f1f5f6;
  display: flex;
  justify-content: center;
  width: 100%;
}
#accordionExample {
  margin: 30px 30px;
}
.container-datos ul li {
  margin: 1.2em;
  list-style: none;
}

.col-aligm-self-center #mi-foto {
  margin: 0;
  padding: 0;
  height: auto;
  width: 150px;
}
#titulo-trabajos {
  color: #04414d;
  text-align: center;
  margin: 2em;
}

#mi-foto {
  margin-left: 20px;
  border-radius: 5px;
}

#banner-nombre {
  justify-content: center;
}
img.imagenes {
  max-width: 150px;
  max-height: 90px;
  border-radius: 10px;
}

.btn btn-primary {
  padding: 10px;
}
#acordeones {
  background-color: #f1f5f6;
}
.progress {
  height: 50px;
}
