<!--banner-->
<div class="container container-banner">
  <div class="row align-items-center">
    <div class="col aligm-item-center">
      <img [src]="miPortfolio.fotoMia" />
    </div>

    <div class="col-8">
      <h1>{{ miPortfolio.nombre }}</h1>
      <h3>{{ miPortfolio.titulo1 }}</h3>
      <h3>{{ miPortfolio.titulo2 }}</h3>
    </div>
  </div>
</div>
<br />

<div class="container container-datos">
  <div class="row justify-content-around">
    <div class="col">
      <ul>
        <li>FECHA DE NACIMIENTO: 13 DE JULIO DE 1963</li>
        <li>MACIONALIDAD: ARGENTINO</li>
        <li>TELEFONO: 011-15-33517780</li>
        <li>E-MAIL: marguigle@yahoo.com.ar</li>
      </ul>
    </div>
  </div>
</div>
<br />
