<!---exp laboral-->
<div class="container">
  <div class="row">
    <div class="col"><h4 id="titulo-trabajos">EXPERIENCIA LABORAL</h4></div>
  </div>

  <div class="row align-content-end">
    <div class="col-2">
      <img [src]="miPortfolio.imgHMVL" />
    </div>
    <div class="col">
      <p>
        MEDICO INTERINO DE GUARDIA EN TERAPIA INTENSIVA DEL HOSPITAL" B. A.
        HOUSSAY" DE VICENTE LOPEZ DESDE 1/6/94 -MEDICO DE TERAPIA INTENSIVA CON
        NOMBRAMIENTO DE 36 HS DEL HOSPITAL "B.A.HOUSSAY" DESDE 1995.
      </p>
    </div>
    <div class="row">
      <div class="col" style="height: 30px"></div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="./images/laRibera.jpg" alt="la ribera" class="imagenes" />
      </div>
      <div class="col">
        <p>
          COORDINADOR DE INTERNACION DEL "SANATORIO DE LA RIBERA " DE SAN
          FERNANDO DURANTE EL AÑO 2000
        </p>
      </div>

      <div class="row">
        <div class="col" style="height: 30px"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img
          src="./images/emergencias.jpg"
          alt="emergencias"
          class="imagenes"
        />
      </div>
      <div class="col">
        <p>
          MEDICO DE GUARDIA DE UTIM EN "EMERGENCIAS S.A."-INTERNATIONAL HEALTH
          SERVICES DESDE EL AÑO2001
        </p>
      </div>
      <div class="row">
        <div class="col" style="height: 30px"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="./images/incucai.jpg" alt="INCUCAI" class="imagenes" />
      </div>
      <div class="col">
        <p>
          COORDINADOR HOSPITALARIO DE TRASPLANTE NOMBRADO POR INCUCAI PARA EL
          HOSPITAL " B.HOUSSAY" DESDE MAYO DEL 2004.
        </p>
      </div>
      <div class="row">
        <div class="col" style="height: 30px"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="./images/hospital VL.jpg" alt="HMVL" class="imagenes" />
      </div>
      <div class="col">
        <p>
          COORDINADOR DE AREA ROJA DEL DEPARTAMENTO DE EMERGENCIAS DEL HOSPITAL
          B.HOUSSAY DESDE 2008 HASTA 2010
        </p>
      </div>
      <div class="row">
        <div class="col" style="height: 30px"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="./images/hospita san isidro.jpg" alt="HSI" class="imagenes" />
      </div>
      <div class="col">
        <p>
          MEDICO DE GUARDIA DE UCI-UCO DEL HOSPITAL CENTRAL DE SAN ISIDRO, DR.
          MELCHOR POSSE.DESDE EL AÑO 2004 AL 2006.
        </p>
      </div>
      <div class="row">
        <div class="col" style="height: 30px"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="./images/hospita san isidro.jpg" alt="" class="imagenes" />
      </div>
      <div class="col">
        <p>
          MEDICO DE TERAPIA INTENSIVA DEL HOSPITAL CENTRAL DE SAN ISIDRO, DR.
          MELCHOR POSSE, DESDE EL AÑO 2006 HASTA FEBRERO DE2012.
        </p>
      </div>
      <div class="row">
        <div class="col" style="height: 30px"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="./images/Logo_OSDE_2020.png" alt="" class="imagenes" />
      </div>
      <div class="col">
        <p>MEDICO DE URGENCIAS DOMICILIARIAS DE OSDDE DESDE 2010 HASTA 2012</p>
      </div>
      <div class="row">
        <div class="col" style="height: 30px"></div>
      </div>
    </div>

    <div class="row justify-content-end">
      <div class="col-2">
        <img src="./images/Logo_OSDE_2020.png" alt="" class="imagenes" />
      </div>
      <div class="col">
        <p>
          MEDICO DE INTERNACION DOMICILIARIA DE OSDE DESDE 2010 HASTA LA
          ACTUALIDAD.
        </p>
      </div>
      <div class="row">
        <div class="col" style="height: 30px"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img src="./images/trinidad.png" alt="trinidad" class="imagenes" />
      </div>
      <div class="col">
        <p>
          COORDINADOR DE GUARDIA DE SANATORIO DE LA TRINIDAD DE SAN ISIDRO, SEDE
          FLEMING, DESE FEBRERO DE FEBRERO DE 2013 HASTA DICIEMBRE DE 2015.
        </p>
      </div>
      <div class="row">
        <div class="col" style="height: 30px"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-2">
        <img
          src="./images/logo swissMedical.png"
          alt="swissMedical"
          class="imagenes"
        />
      </div>
      <div class="col">
        <p>
          MEDICO DE INTERNACION DOMICILIARIA PARA SWISS MEDICAL DESDE 2018 HASTA
          LA ACTUALIDAD
        </p>
      </div>
      <div class="row">
        <div class="col" style="height: 30px"></div>
      </div>
    </div>
  </div>
</div>
<br />
<!--FIN EXP LABORAL-->
