<!--ESTUDIOS-->
<div class="container">
  <div class="row" id="acordeones">
    <div class="col-2"></div>
    <div class="col-md-8">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              ESTUDIOS CURSADOS
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  SECUNDARIO: COLEGIO " ALPE " BARCELONA, ESPAÑA (1976-78)
                  BACHILLER - "JESUS EN EL HUERTO DE LOS OLIVOS”
                </li>

                <li>UNIVERSITARIO: MEDICINA - U.B.A.</li>

                <li>
                  POSGRADO: RESIDENCIA DE CLINICA MÉDICA EN HOSPITAL "BERNARDO
                  A. HOUSSAY" DESDE JULIO 2 DE 1990, HASTA MAYO 31 DE 1993
                </li>
                <li>
                  JEFATURA DE RESIDENTES DE CLINICA MEDICA DESDE JUNIO 1 DE
                  1993, HASTA MAYO 31 DE 1994
                </li>
                <li>
                  CURSO SUPERIOR DE MEDICINA LEGAL - COLEGIO MEDICO DISTRITO IV
                </li>
                <li>CURSO DE COORDINADORES HOSPITALARIOS DE TRASPLANTE 2004</li>
                <li>CURSO DE COORDINADORES HOSPITALARIOS DE TRASPLANTE 2007</li>
                <li>
                  CURSO DE CAPACITACION Y PERFECCIONAMIENTO TECNICO PROFESIONAL
                  EN AUDITORIA MÉDICA Y GARANTIA DE CALIDAD EN SERVICIOS DE
                  SALUD.2010
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              ROTACIONES - CONGRESOS – JORNADAS
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  - ROTACION POR EL SERVICIO DE CARDIOLOGIA DEL HOSPITAL "COSME
                  ARGERICH"
                </li>

                <li>
                  SIMPOCIO " ETADO ACTUAL DE LA RESISTENCIA BACTERIANA, ROL DE
                  LOS INHIBIDORES DE LAS BETALACTAMASAS "- ANTIMICROBIANOS 90 -
                  II CONGRESO ITERNACIONAL DE SADEBAC –
                </li>

                <li>
                  XVII JORNADAS NACIONALES INTERRESIDENCIAS DE CLINICA MÉDICA
                  DEL 29 DE OCTUBRE AL 3 DE NOVIEMBRE DE 1990 –
                </li>

                <li>
                  XVIII JORNADAS NACIONALES INTERRESIDENCIAS DE CLINICA MÉDICA -
                  CONGRESO NACIONAL DE MEDICINA 1 DEL 14 AL 19 DE OCTUBRE DE
                  1991
                </li>

                <li>
                  XXI CONGRESO ARGENTINO DE MEDICINA INTERNA - XIII JORNADAS
                  RIOPLATENCE DE MEDICINA INTERNA -ASOCIACION MEDICA ARGENTINA -
                  SOCIEDAD DE MEDICINA INTERNA DE BUENOS AIRES –
                </li>

                <li>
                  JORNADA ABIERTA DE TRABAJO : PLAN DE SALUD , ORGANIZADA POR LA
                  SECRETARIA DE EXTENCION UNIVERSITARIA DE LA UNIVERSIDAD DE
                  BUENOS AIRES Y LA SECRETARIA DE SALUD PUBLICA DE LA
                  MUNICIPALIDAD DE VICENTE LOPEZ.-
                </li>

                <li>
                  XXXII CONGRESO ARGENTINO DE REUMATOLOGIA - SOCIEDAD ARGENTINA
                  DE REUMATOLOGIA DEL 24 AL 27 DE OCTUBRE DE 1993
                </li>

                <li>
                  IX CONGRESO ARGENTINO DE TERAPIA INTENSIVA VIII JORNADAS
                  RIOPLATENSES DE TERAPIA INTENSIVA, ORGANIZADO POR LA SOCIEDAD
                  ARGENTINA DE TERAPIA INTENSIVA –
                </li>

                <li>
                  CONGRESO ARGENTINO DE TERAPIA INTENSIVA ORGANIZADO POR LA
                  SOCIEDAD ARGENTINA DE TERAPIA INTENSIVA SEPTIEMBRE DE 2002 –
                </li>

                <li>
                  COMPLICACIONES CLINICAS POSOPERATORIAS - FACULTAD DE MEDICINA
                  UNIVERSIDAD DE BUENOS AIRES -"HOSPITAL BERNARDO HOUSSAY”
                </li>

                <li>CURSO AVANZADO DE ASISTENCIA RESPIRATORIA MECANICA</li>

                <li>
                  IV CONGRESO ARGENTINO DE PROCURACION DE ORGANOS Y TEJIDOS PARA
                  TRASPLANTE, 2006
                </li>

                <li>
                  CURSO ENTREVISTA FAMILIAR Y LEY DE DONANTE PRESUNTO,2006
                </li>

                <li>
                  III JORNADAS NACIONALES DE COORDINACION HOSPITALARIA,2006
                </li>

                <li>
                  1er SIMPOSIO INTERNACONAL DE SHOCK, HOSPITAL UNIVERSITARIO
                  AUSTRAL, 2007
                </li>

                <li>
                  PRIMERAS JORNADAS PROVINCIALES DE EMERGENCAS; ÉL SISTEMA DE
                  EMERGENCIAS COMO POLITICA DE ESTADO’2008
                </li>

                <li>
                  II SIMPOSIO INTERNACIONAL DE MEDICINA DE EMERGENCIAS, SAE,
                  2009
                </li>

                <li>
                  CONFERENCIA ’PAUTAS DE MANEJO DEL POTENCIAL DONANTE DE
                  ORGANOS’ HOSPITAL BERNARDO HOUSSAY, DISERTANTE, 2009
                </li>

                <li>JORNADAS DE KINESIOLOGIA EN EL PACIENTE CRITICO, 2009</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              TRABAJOS PRESENTADOS
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  "SALMONELLOSIS EN L.E.S. "XII JORNADAS NACIONALES
                  INTERRESIDENCIAS DE CLINICA MEDICA AÑO 1990
                </li>

                <li>
                  "SEPSIS POR SHIGELLA" XVIII JORNADAS NACIONALES INTERRESIDEN-
                  CIAS DE CLINICA MEDICA-CONGRESO NACIONAL DE MEDICINA 1 AÑO
                  1990
                </li>

                <li>
                  "SACROILEITIS INFECCIOSA POR ESTAFILOCOCO AUREUS " XXI CONGRE-
                  SOARGENTINO DE MEDICINA INTERNA ASOCIACION MEDICA ARGENTINA
                  AÑO 1993-
                </li>

                <li>
                  " LEPRA Y LUPUS ERITEMATOSO SISTEMICO " MECANISMOS COMUNES DE
                  DESREGULACION AUTOINMUNE - XXI CONGRESO ARGENTINO DE MEDICI-NA
                  INTERNA- ASOCIACION MEDICA AGENTINA AÑO 1993-
                </li>

                <li>
                  "SINDROME ANTIFOSFOLIPIDICO PRIMARIO"-XXXII CONGRESO ARGENTINO
                  DE REUMATOLOGIA SOCIEDAD ARGENTINA DE REUMATOLOGIA AÑO 1993-
                </li>

                <li>
                  MONOGRAFIA "RESPONSABILIDAD PROFECIONAL PRESENTADA EN EL CURSO
                  SUPERIOR DE MEDICINA LEGAL AÑO 2000
                </li>

                <li>
                  MONOGRAFIA "PROYECTO GENOMA HUMANO " PRESENTADA EN EL CURSO
                  SUPERIOR DE MEDICINA LEGAL AÑO 2000
                </li>

                <li>
                  MONOGRAFIA "DELINCUENCIA FEMENINA" PRESENTADA EN EL CURSO
                  SUPERIOR DE MEDICINA LEGAL AÑO 2000-
                </li>

                <li>
                  MONOGRAFIA "ENFERMEDAD RESPIRATORIA OCUPACIONAL" PRESENTADA EN
                  EL CURSO SUPERIOR DE MEDICINA LEGAL AÑO 2000
                </li>
                <li>
                  ÉVALUACION DE LA MORTALIDAD,CAUSAS MAS FRECUENTES E
                  INDICACIONES DDE HEMDIALISIS EN LA INSUFICIENCIA RENAL
                  AGUDA,18 O CONGRESO ARGENTINO DE TERAPIA INTENSIVA,2008
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              ACTIIVIDAD DOCENTE
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul>
                <li>
                  DOCENTE DEL CURSO TEORICO-PRACTICO "COMPLICACIONES CLINICAS
                  POSOPERATORIAS "REALIZADO ENTRE EL MES DE MAYO Y DICIEMBRE DE
                  1993, DURACION CINCUENTA HORAS.
                </li>

                <li>
                  DOCENTE DE MEDICINA I Y II DE LA CARRERA DE MEDICINA DE LA
                  UNIVERSIDAD AUSTRAL DESDE EL AÑO 2000
                </li>

                <li>
                  DISERTANTE EN EL CURSO DE EMERGENTOLOGIA ORGANIZADO POR EL
                  DEPARTAMENTO DE EMERGENCIAS DEL HOSPITAL" BERNARDO A HOUSSAY "
                  DE VICENTE LOPEZ-
                </li>

                <li>
                  CARRERA DOCENTE DICTADA POR LA FACULTAD DE MEDICINA DE LA UBA.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--FIN ESTUDIOS-->
